
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-page">
    <h2 class="headline text-danger">403</h2>
    <div class="error-content">
        <h2 style="color:white"><i class="fa fa-warning text-red"></i> Oops! You do not have access to this page</h2>
        <h3 style="color:white">
            Please contact your admin to register your account to access this page.
            Meanwhile, you may <a href="@Url.Action("Index","Dashboard")">return to dashboard</a> or <a href="@Url.Action("Login", "User")">Login</a> with authorize account.
        </h3>
    </div>
</div>

