<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VMSConnection" connectionString="Data Source=SBM-VMAPPL;Initial Catalog=DBVisitorMS;Persist Security Info=True;User ID=sbmapps;Password=sbmapps123" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VMS.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VMS.Library.Properties.Settings>
            <setting name="VMSConnection" serializeAs="String">
                <value>Data Source=SBM-VMAPPL;Initial Catalog=DBVisitorMS;Persist Security Info=True;User ID=sbmapps;Password=sbmapps123</value>
            </setting>
        </VMS.Library.Properties.Settings>
    </applicationSettings>
</configuration>