@using VMS.Web.Models
@{
    ViewBag.Title = "Team Shimano";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    .ShimanoBlack {
        background-color: black;
        color: white;
    }
</style>
<script>
    function showMyTask() {
        $("#TSVisitorToday").data('kendoGrid').dataSource.read()
    }
</script>
<script>
    function fnGetParameter() {
        return {
            Name: $("#txtSearch").val()
        }
    }
</script>



<h2>Team Shimano</h2>

<div class="row" id="RowShowToday">
    <div class="col-md-12">
        <div class="box ShimanoBox">
            <div class="box-header">
                <h4 style="color:black">Summary of Visitor Status</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("txtSearch", "Search By Visitor Name")
                        @Html.Kendo().TextBox().Name("txtSearch").HtmlAttributes(new { @class = "form-control ShimanoTextBox", style = "width:100%", @onchange = "showMyTask()" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @(Html.Kendo().Grid<TSLogHistory>().Name("TSVisitorToday")
            .Columns(col =>
            {
                col.Bound(p => p.TimeStart).Title("TimeStart");
                col.Bound(p => p.FullName).Title("Name");
                col.Bound(p => p.Duration).Title("Duration");
                col.Bound(p => p.HostName).Title("Host Name");
                col.Bound(p => p.Status).Title("Status");
                col.Bound(p => p.NeedLunch).Title("NeedLunch");
            })
            //.Events(ev => ev.Change("onChange"))
            .Filterable()
            //            .Selectable()
            //.Events(e => e.Change("onChange"))
            .Pageable().AutoBind(true)
            .Resizable(resizable => resizable.Columns(true))
            .Sortable()
            .Scrollable()
            .HtmlAttributes(new { style = "height:550px;" })
                                               .DataSource(dataSource => dataSource
                                               .Ajax()
                                               //.Events(events => events.Error("error_handler"))
                                               .Model(model => model.Id(p => p.LogId))
                                               .PageSize(40)
                                               .Read(read => read.Action("GetVisitorTSToday", "TSVisitor").Data("fnGetParameter"))
                        )
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
